/* FONT STYLES */
h1, h2, h3, h4, h5 {
  font-family: 'Fraunces', serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  letter-spacing: .5px !important;
  /* color: #283747 !important; */
}

h1 {
  font-size: 44px !important;
}

h2 {
  font-size: 36px !important;
}

h3 {
  font-size: 28px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 16px !important;
}

p {
  font-size: 16px !important;
}

/* PAGE STYLES */
.segment {
  background-color: #fbf7f6 !important;
}

/* STICKY */
.sticky-nav {
  position: sticky;
  top: 0;
  z-index: 1000; /* Optional: Ensure it stays on top */
  background-color: #fbf7f6; /* Optional: to ensure it has a solid background */
  width: 100%;
}