/* FONT STYLES */
h1, h2, h3, h4, h5 {
  font-family: 'Fraunces', serif !important;
  font-optical-sizing: auto;
  font-weight: 500 !important;
  font-style: normal;
  line-height: 1.25 !important;
  letter-spacing: .5px !important;
  color: #34495e !important;
}

h1 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  font-size: 68px !important;
}

h2 {
  font-size: 36px !important;
}

h3 {
  font-size: 24px !important;
}

h4 {
  font-size: 20px !important;
}

h5 {
  font-size: 16px !important;
}

p {
  font-size: 18px !important;
  line-height: 1.75 !important;
  letter-spacing: .25px !important;
  color: #34495e !important;
}

/* NAVIGATION STYLES */
.ui.text.menu .item {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  font-size: 14px !important;
  text-transform: uppercase ;
  font-weight: bold !important;
  letter-spacing: 2px !important;
  color: #34495e !important;
  padding: 15px !important;
}

:hover, .ui.text.menu .item:hover, .icon:hover {
  color: #5d6d7e !important;
}

/* ICON STYLES */
.social-icons {
  display: flex;
  gap: 10px;
}

.icon {
  color: #34495e !important;
}


/* PAGE STYLES */
body {
  background-color: #F4F2EE !important;
}

/* CONTAINER STYLES */
.segment {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.row {
  justify-content: center !important;
}

/* NAVIGATION */
.sticky-nav {
  position: sticky;
  top: 0;
  bottom: 0;
  z-index: 1000;
  width: 100%;
  justify-content: center;
  background-color: #F4F2EE !important;

}

.sticky-footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  justify-content: center;
  padding-top: 10px;
  background-color: #F4F2EE !important;
}

/* MEDIA STYLES */
@media (max-width: 768px) {
  .segment {
    height: auto;
  }
}